<a href="https://colab.research.google.com/github/AnalystHarpal007/Python_Tutorial/blob/main/Pandas_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lets start Solving**

In [ ]:
#import dependencies

import pandas as pd
import xlrd
import openpyxl

# **Problems for employees dataset**

Q.1.Filter the DataFrame to show only employees who work in the "IT" department

In [ ]:
df_emp = pd.read_csv('emp_data.csv')
df_emp

    Unnamed: 0         Full Name   Department  Age
0            0            Kai Le  Engineering   47
1            1      Robert Patel        Sales   58
2            2        Cameron Lo           IT   34
3            3   Harper Castillo           IT   39
4            4           Jade Hu   Accounting   58
5            5       Miles Chang      Finance   62
6            6     Gianna Holmes           IT   38
7            7    Jameson Thomas      Finance   52
8            8      Jameson Pena           IT   49
9            9          Bella Wu      Finance   63
10          10         Jose Wong           IT   45
11          11  Lucas Richardson    Marketing   36
12          12       Jacob Moore    Marketing   42
13          13           Luna Lu           IT   62
14          14        Bella Tran  Engineering   45
15          15          Ivy Chau        Sales   61
16          16      Jordan Kumar           IT   29
17          17  Sophia Gutierrez   Accounting   63
18          18          Eli Dang   Accounting   45
19          19     Lillian Lewis           IT   43
20          20      Serenity Cao        Sales   31

In [ ]:
df_emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  21 non-null     int64
 1   Full Name   21 non-null     object
 2   Department  21 non-null     object
 3   Age         21 non-null     int64
dtypes: int64(2), object(2)
memory usage: 804.0+ bytes

In [ ]:
df_emp[df_emp['Department']=='IT']

    Unnamed: 0        Full Name Department  Age
2            2       Cameron Lo         IT   34
3            3  Harper Castillo         IT   39
6            6    Gianna Holmes         IT   38
8            8     Jameson Pena         IT   49
10          10        Jose Wong         IT   45
13          13          Luna Lu         IT   62
16          16     Jordan Kumar         IT   29
19          19    Lillian Lewis         IT   43

Q.2.Filter the DataFrame to show only female employees who are older than 50.

In [ ]:
emp_df2 = pd.read_csv('employee.csv')
emp_df2

,ID,Full Name,Job Title,Department,Gender,Age,Hire Date,Salary,Country,City,Exit Date
0,E02002,Kai Le,Controls Engineer,Engineering,Male,47.0,02/05/22,"$92,368",United States,Columbus,NaN
1,E02003,Robert Patel,Analyst,Sales,Male,58.0,10/23/2013,"$45,703",United States,Chicago,NaN
2,E02004,Cameron Lo,Network Administrator,IT,Male,34.0,3/24/2019,"$83,576",China,Shanghai,NaN
3,E02005,Harper Castillo,IT Systems Architect,IT,Female,39.0,04/07/18,"$98,062",United States,Seattle,NaN
4,E02006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Austin,NaN
5,E02007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Phoenix,2/14/2014
6,E02008,Jade Hu,Sr. Analyst,Accounting,Female,58.0,6/27/2009,"$89,744",China,Chongqing,NaN
7,E02009,Miles Chang,Analyst II,Finance,Male,62.0,2/19/1999,"$69,674",China,Chengdu,NaN
8,E02010,Gianna Holmes,System Administratorâ€,IT,Female,38.0,09/09/11,"$97,630",United States,Seattle,NaN
9,E02011,Jameson Thomas,Manager,Finance,Male,52.0,02/05/15,"$105,879",United States,Miami,NaN
10,E02012,Jameson Pena,Systems Analyst,IT,Male,49.0,10/12/03,"$40,499",United States,Miami,NaN
11,E02013,Bella Wu,NaN,Finance,Female,63.0,NaN,"$71,418",NaN,Phoenix,NaN
12,E02014,Jose Wong,NaN,IT,Male,45.0,NaN,"$150,558",NaN,Chongqing,NaN
13,E02015,Lucas Richardson,NaN,Marketing,Male,36.0,NaN,"$118,912",NaN,Miami,NaN
14,E02016,Jacob Moore,Sr. Manager,Marketing,Male,42.0,NaN,"$131,422",NaN,Phoenix,NaN
15,E02017,Luna Lu,IT Systems Architect,IT,Female,62.0,NaN,"$64,208",United States,Miami,NaN
16,E02018,Bella Tran,Vice President,Engineering,Female,45.0,NaN,"$254,486",China,Chengdu,NaN
17,E02019,Ivy Chau,Analyst,Sales,Female,61.0,NaN,"$54,811",China,Chongqing,NaN
18,E02020,Jordan Kumar,Service Desk Analyst,IT,Male,29.0,11/11/17,"$95,729",United States,Seattle,NaN
19,E02021,Sophia Gutierrez,Manager,Accounting,Female,63.0,02/08/09,"$102,649",United States,Austin,NaN
20,E02022,Eli Dang,Sr. Manager,Accounting,Male,45.0,11/16/2015,"$122,875",United States,Chicago,NaN
21,E02023,Lillian Lewis,Technical Architect,IT,Female,43.0,8/14/2013,"$83,323",United States,Phoenix,3/31/2019
22,E02024,Serenity Cao,Account Representative,Sales,Female,31.0,10/21/2018,"$66,721",China,Shanghai,NaN

In [ ]:
emp_df2.info()
emp_df2.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          23 non-null     object
 1   Full Name   21 non-null     object
 2   Job Title   18 non-null     object
 3   Department  21 non-null     object
 4   Gender      21 non-null     object
 5   Age         21 non-null     float64
 6   Hire Date   14 non-null     object
 7   Salary      21 non-null     object
 8   Country     17 non-null     object
 9   City        23 non-null     object
 10  Exit Date   2 non-null      object
dtypes: float64(1), object(10)
memory usage: 2.1+ KB

(23, 11)

In [ ]:
emp_df2.head()

,ID,Full Name,Job Title,Department,Gender,Age,Hire Date,Salary,Country,City,Exit Date
0,E02002,Kai Le,Controls Engineer,Engineering,Male,47.0,02/05/22,"$92,368",United States,Columbus,NaN
1,E02003,Robert Patel,Analyst,Sales,Male,58.0,10/23/2013,"$45,703",United States,Chicago,NaN
2,E02004,Cameron Lo,Network Administrator,IT,Male,34.0,3/24/2019,"$83,576",China,Shanghai,NaN
3,E02005,Harper Castillo,IT Systems Architect,IT,Female,39.0,04/07/18,"$98,062",United States,Seattle,NaN
4,E02006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Austin,NaN

In [ ]:
emp_df2[(emp_df2['Gender']=='Female') & (emp_df2['Age']>50)]

,ID,Full Name,Job Title,Department,Gender,Age,Hire Date,Salary,Country,City,Exit Date
6,E02008,Jade Hu,Sr. Analyst,Accounting,Female,58.0,6/27/2009,"$89,744",China,Chongqing,NaN
11,E02013,Bella Wu,NaN,Finance,Female,63.0,NaN,"$71,418",NaN,Phoenix,NaN
15,E02017,Luna Lu,IT Systems Architect,IT,Female,62.0,NaN,"$64,208",United States,Miami,NaN
17,E02019,Ivy Chau,Analyst,Sales,Female,61.0,NaN,"$54,811",China,Chongqing,NaN
19,E02021,Sophia Gutierrez,Manager,Accounting,Female,63.0,02/08/09,"$102,649",United States,Austin,NaN

Q.3.Sort the DataFrame by the "Age" column in descending order.

In [ ]:
emp_df2.sort_values(by='Age',ascending=False)

,ID,Full Name,Job Title,Department,Gender,Age,Hire Date,Salary,Country,City,Exit Date
11,E02013,Bella Wu,NaN,Finance,Female,63.0,NaN,"$71,418",NaN,Phoenix,NaN
19,E02021,Sophia Gutierrez,Manager,Accounting,Female,63.0,02/08/09,"$102,649",United States,Austin,NaN
15,E02017,Luna Lu,IT Systems Architect,IT,Female,62.0,NaN,"$64,208",United States,Miami,NaN
7,E02009,Miles Chang,Analyst II,Finance,Male,62.0,2/19/1999,"$69,674",China,Chengdu,NaN
17,E02019,Ivy Chau,Analyst,Sales,Female,61.0,NaN,"$54,811",China,Chongqing,NaN
1,E02003,Robert Patel,Analyst,Sales,Male,58.0,10/23/2013,"$45,703",United States,Chicago,NaN
6,E02008,Jade Hu,Sr. Analyst,Accounting,Female,58.0,6/27/2009,"$89,744",China,Chongqing,NaN
9,E02011,Jameson Thomas,Manager,Finance,Male,52.0,02/05/15,"$105,879",United States,Miami,NaN
10,E02012,Jameson Pena,Systems Analyst,IT,Male,49.0,10/12/03,"$40,499",United States,Miami,NaN
0,E02002,Kai Le,Controls Engineer,Engineering,Male,47.0,02/05/22,"$92,368",United States,Columbus,NaN
16,E02018,Bella Tran,Vice President,Engineering,Female,45.0,NaN,"$254,486",China,Chengdu,NaN
20,E02022,Eli Dang,Sr. Manager,Accounting,Male,45.0,11/16/2015,"$122,875",United States,Chicago,NaN
12,E02014,Jose Wong,NaN,IT,Male,45.0,NaN,"$150,558",NaN,Chongqing,NaN
21,E02023,Lillian Lewis,Technical Architect,IT,Female,43.0,8/14/2013,"$83,323",United States,Phoenix,3/31/2019
14,E02016,Jacob Moore,Sr. Manager,Marketing,Male,42.0,NaN,"$131,422",NaN,Phoenix,NaN
3,E02005,Harper Castillo,IT Systems Architect,IT,Female,39.0,04/07/18,"$98,062",United States,Seattle,NaN
8,E02010,Gianna Holmes,System Administratorâ€,IT,Female,38.0,09/09/11,"$97,630",United States,Seattle,NaN
13,E02015,Lucas Richardson,NaN,Marketing,Male,36.0,NaN,"$118,912",NaN,Miami,NaN
2,E02004,Cameron Lo,Network Administrator,IT,Male,34.0,3/24/2019,"$83,576",China,Shanghai,NaN
22,E02024,Serenity Cao,Account Representative,Sales,Female,31.0,10/21/2018,"$66,721",China,Shanghai,NaN
18,E02020,Jordan Kumar,Service Desk Analyst,IT,Male,29.0,11/11/17,"$95,729",United States,Seattle,NaN
4,E02006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Austin,NaN
5,E02007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Phoenix,2/14/2014

Q.4.Sort the DataFrame first by "Department" (ascending) and then by "Age" (descending).

In [ ]:
emp_df2.sort_values(by=['Department','Age'],ascending=[True,False])

,ID,Full Name,Job Title,Department,Gender,Age,Hire Date,Salary,Country,City,Exit Date
19,E02021,Sophia Gutierrez,Manager,Accounting,Female,63.0,02/08/09,"$102,649",United States,Austin,NaN
6,E02008,Jade Hu,Sr. Analyst,Accounting,Female,58.0,6/27/2009,"$89,744",China,Chongqing,NaN
20,E02022,Eli Dang,Sr. Manager,Accounting,Male,45.0,11/16/2015,"$122,875",United States,Chicago,NaN
0,E02002,Kai Le,Controls Engineer,Engineering,Male,47.0,02/05/22,"$92,368",United States,Columbus,NaN
16,E02018,Bella Tran,Vice President,Engineering,Female,45.0,NaN,"$254,486",China,Chengdu,NaN
11,E02013,Bella Wu,NaN,Finance,Female,63.0,NaN,"$71,418",NaN,Phoenix,NaN
7,E02009,Miles Chang,Analyst II,Finance,Male,62.0,2/19/1999,"$69,674",China,Chengdu,NaN
9,E02011,Jameson Thomas,Manager,Finance,Male,52.0,02/05/15,"$105,879",United States,Miami,NaN
15,E02017,Luna Lu,IT Systems Architect,IT,Female,62.0,NaN,"$64,208",United States,Miami,NaN
10,E02012,Jameson Pena,Systems Analyst,IT,Male,49.0,10/12/03,"$40,499",United States,Miami,NaN
12,E02014,Jose Wong,NaN,IT,Male,45.0,NaN,"$150,558",NaN,Chongqing,NaN
21,E02023,Lillian Lewis,Technical Architect,IT,Female,43.0,8/14/2013,"$83,323",United States,Phoenix,3/31/2019
3,E02005,Harper Castillo,IT Systems Architect,IT,Female,39.0,04/07/18,"$98,062",United States,Seattle,NaN
8,E02010,Gianna Holmes,System Administratorâ€,IT,Female,38.0,09/09/11,"$97,630",United States,Seattle,NaN
2,E02004,Cameron Lo,Network Administrator,IT,Male,34.0,3/24/2019,"$83,576",China,Shanghai,NaN
18,E02020,Jordan Kumar,Service Desk Analyst,IT,Male,29.0,11/11/17,"$95,729",United States,Seattle,NaN
14,E02016,Jacob Moore,Sr. Manager,Marketing,Male,42.0,NaN,"$131,422",NaN,Phoenix,NaN
13,E02015,Lucas Richardson,NaN,Marketing,Male,36.0,NaN,"$118,912",NaN,Miami,NaN
17,E02019,Ivy Chau,Analyst,Sales,Female,61.0,NaN,"$54,811",China,Chongqing,NaN
1,E02003,Robert Patel,Analyst,Sales,Male,58.0,10/23/2013,"$45,703",United States,Chicago,NaN
22,E02024,Serenity Cao,Account Representative,Sales,Female,31.0,10/21/2018,"$66,721",China,Shanghai,NaN
4,E02006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Austin,NaN
5,E02007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Phoenix,2/14/2014

Q.5.Set the "ID" column as the index of the DataFrame and display the first 5 rows.

In [ ]:
emp_df2.iloc[0:5]

,ID,Full Name,Job Title,Department,Gender,Age,Hire Date,Salary,Country,City,Exit Date
0,E02002,Kai Le,Controls Engineer,Engineering,Male,47.0,02/05/22,"$92,368",United States,Columbus,NaN
1,E02003,Robert Patel,Analyst,Sales,Male,58.0,10/23/2013,"$45,703",United States,Chicago,NaN
2,E02004,Cameron Lo,Network Administrator,IT,Male,34.0,3/24/2019,"$83,576",China,Shanghai,NaN
3,E02005,Harper Castillo,IT Systems Architect,IT,Female,39.0,04/07/18,"$98,062",United States,Seattle,NaN
4,E02006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Austin,NaN

In [ ]:
new_df = emp_df2.set_index('ID')
new_df

,Full Name,Job Title,Department,Gender,Age,Hire Date,Salary,Country,City,Exit Date
ID,,,,,,,,,,
E02002,Kai Le,Controls Engineer,Engineering,Male,47.0,02/05/22,"$92,368",United States,Columbus,NaN
E02003,Robert Patel,Analyst,Sales,Male,58.0,10/23/2013,"$45,703",United States,Chicago,NaN
E02004,Cameron Lo,Network Administrator,IT,Male,34.0,3/24/2019,"$83,576",China,Shanghai,NaN
E02005,Harper Castillo,IT Systems Architect,IT,Female,39.0,04/07/18,"$98,062",United States,Seattle,NaN
E02006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Austin,NaN
E02007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Phoenix,2/14/2014
E02008,Jade Hu,Sr. Analyst,Accounting,Female,58.0,6/27/2009,"$89,744",China,Chongqing,NaN
E02009,Miles Chang,Analyst II,Finance,Male,62.0,2/19/1999,"$69,674",China,Chengdu,NaN
E02010,Gianna Holmes,System Administratorâ€,IT,Female,38.0,09/09/11,"$97,630",United States,Seattle,NaN
E02011,Jameson Thomas,Manager,Finance,Male,52.0,02/05/15,"$105,879",United States,Miami,NaN
E02012,Jameson Pena,Systems Analyst,IT,Male,49.0,10/12/03,"$40,499",United States,Miami,NaN
E02013,Bella Wu,NaN,Finance,Female,63.0,NaN,"$71,418",NaN,Phoenix,NaN
E02014,Jose Wong,NaN,IT,Male,45.0,NaN,"$150,558",NaN,Chongqing,NaN
E02015,Lucas Richardson,NaN,Marketing,Male,36.0,NaN,"$118,912",NaN,Miami,NaN
E02016,Jacob Moore,Sr. Manager,Marketing,Male,42.0,NaN,"$131,422",NaN,Phoenix,NaN
E02017,Luna Lu,IT Systems Architect,IT,Female,62.0,NaN,"$64,208",United States,Miami,NaN
E02018,Bella Tran,Vice President,Engineering,Female,45.0,NaN,"$254,486",China,Chengdu,NaN
E02019,Ivy Chau,Analyst,Sales,Female,61.0,NaN,"$54,811",China,Chongqing,NaN
E02020,Jordan Kumar,Service Desk Analyst,IT,Male,29.0,11/11/17,"$95,729",United States,Seattle,NaN
E02021,Sophia Gutierrez,Manager,Accounting,Female,63.0,02/08/09,"$102,649",United States,Austin,NaN
E02022,Eli Dang,Sr. Manager,Accounting,Male,45.0,11/16/2015,"$122,875",United States,Chicago,NaN
E02023,Lillian Lewis,Technical Architect,IT,Female,43.0,8/14/2013,"$83,323",United States,Phoenix,3/31/2019
E02024,Serenity Cao,Account Representative,Sales,Female,31.0,10/21/2018,"$66,721",China,Shanghai,NaN

In [ ]:
new_df.loc['E02002':'E02006']

,Full Name,Job Title,Department,Gender,Age,Hire Date,Salary,Country,City,Exit Date
ID,,,,,,,,,,
E02002,Kai Le,Controls Engineer,Engineering,Male,47.0,02/05/22,"$92,368",United States,Columbus,NaN
E02003,Robert Patel,Analyst,Sales,Male,58.0,10/23/2013,"$45,703",United States,Chicago,NaN
E02004,Cameron Lo,Network Administrator,IT,Male,34.0,3/24/2019,"$83,576",China,Shanghai,NaN
E02005,Harper Castillo,IT Systems Architect,IT,Female,39.0,04/07/18,"$98,062",United States,Seattle,NaN
E02006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Austin,NaN

In [ ]:
new_df.head()

,Full Name,Job Title,Department,Gender,Age,Hire Date,Salary,Country,City,Exit Date
ID,,,,,,,,,,
E02002,Kai Le,Controls Engineer,Engineering,Male,47.0,02/05/22,"$92,368",United States,Columbus,NaN
E02003,Robert Patel,Analyst,Sales,Male,58.0,10/23/2013,"$45,703",United States,Chicago,NaN
E02004,Cameron Lo,Network Administrator,IT,Male,34.0,3/24/2019,"$83,576",China,Shanghai,NaN
E02005,Harper Castillo,IT Systems Architect,IT,Female,39.0,04/07/18,"$98,062",United States,Seattle,NaN
E02006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Austin,NaN

Q.6.Select the "Full Name" and "Job Title" columns for the employee with the ID "E02011".

In [ ]:
emp_df2

,ID,Full Name,Job Title,Department,Gender,Age,Hire Date,Salary,Country,City,Exit Date
0,E02002,Kai Le,Controls Engineer,Engineering,Male,47.0,02/05/22,"$92,368",United States,Columbus,NaN
1,E02003,Robert Patel,Analyst,Sales,Male,58.0,10/23/2013,"$45,703",United States,Chicago,NaN
2,E02004,Cameron Lo,Network Administrator,IT,Male,34.0,3/24/2019,"$83,576",China,Shanghai,NaN
3,E02005,Harper Castillo,IT Systems Architect,IT,Female,39.0,04/07/18,"$98,062",United States,Seattle,NaN
4,E02006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Austin,NaN
5,E02007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Phoenix,2/14/2014
6,E02008,Jade Hu,Sr. Analyst,Accounting,Female,58.0,6/27/2009,"$89,744",China,Chongqing,NaN
7,E02009,Miles Chang,Analyst II,Finance,Male,62.0,2/19/1999,"$69,674",China,Chengdu,NaN
8,E02010,Gianna Holmes,System Administratorâ€,IT,Female,38.0,09/09/11,"$97,630",United States,Seattle,NaN
9,E02011,Jameson Thomas,Manager,Finance,Male,52.0,02/05/15,"$105,879",United States,Miami,NaN
10,E02012,Jameson Pena,Systems Analyst,IT,Male,49.0,10/12/03,"$40,499",United States,Miami,NaN
11,E02013,Bella Wu,NaN,Finance,Female,63.0,NaN,"$71,418",NaN,Phoenix,NaN
12,E02014,Jose Wong,NaN,IT,Male,45.0,NaN,"$150,558",NaN,Chongqing,NaN
13,E02015,Lucas Richardson,NaN,Marketing,Male,36.0,NaN,"$118,912",NaN,Miami,NaN
14,E02016,Jacob Moore,Sr. Manager,Marketing,Male,42.0,NaN,"$131,422",NaN,Phoenix,NaN
15,E02017,Luna Lu,IT Systems Architect,IT,Female,62.0,NaN,"$64,208",United States,Miami,NaN
16,E02018,Bella Tran,Vice President,Engineering,Female,45.0,NaN,"$254,486",China,Chengdu,NaN
17,E02019,Ivy Chau,Analyst,Sales,Female,61.0,NaN,"$54,811",China,Chongqing,NaN
18,E02020,Jordan Kumar,Service Desk Analyst,IT,Male,29.0,11/11/17,"$95,729",United States,Seattle,NaN
19,E02021,Sophia Gutierrez,Manager,Accounting,Female,63.0,02/08/09,"$102,649",United States,Austin,NaN
20,E02022,Eli Dang,Sr. Manager,Accounting,Male,45.0,11/16/2015,"$122,875",United States,Chicago,NaN
21,E02023,Lillian Lewis,Technical Architect,IT,Female,43.0,8/14/2013,"$83,323",United States,Phoenix,3/31/2019
22,E02024,Serenity Cao,Account Representative,Sales,Female,31.0,10/21/2018,"$66,721",China,Shanghai,NaN

In [ ]:
emp_df2[emp_df2['ID'] =='E02011'][['Full Name','Job Title']]

        Full Name Job Title
9  Jameson Thomas   Manager

In [ ]:
df1 = emp_df2[emp_df2['ID'] =='E02011'] #Another way
df1[['Full Name','Job Title']]

        Full Name Job Title
9  Jameson Thomas   Manager

Q.7. Export the DataFrame to a new CSV file named "employee_data.csv".

In [ ]:
df1[['Full Name','Job Title']].to_csv('employee_data.csv')

Q.8.Export the DataFrame to an Excel file named "employee_data.xlsx"

In [87]:
#emp_df2.head()
emp_df2.to_excel('employee_data.xlsx')

Q.9.Use df.info to display information about the DataFrame, including the number of non-null entries in each column.

In [88]:
emp_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          23 non-null     object
 1   Full Name   21 non-null     object
 2   Job Title   18 non-null     object
 3   Department  21 non-null     object
 4   Gender      21 non-null     object
 5   Age         21 non-null     float64
 6   Hire Date   14 non-null     object
 7   Salary      21 non-null     object
 8   Country     17 non-null     object
 9   City        23 non-null     object
 10  Exit Date   2 non-null      object
dtypes: float64(1), object(10)
memory usage: 2.1+ KB

  Q.10.Use the head() function to display the first 10 rows of the DataFrame and tail() to display the last 5 rows.

In [89]:
emp_df2.head(10)

,ID,Full Name,Job Title,Department,Gender,Age,Hire Date,Salary,Country,City,Exit Date
0,E02002,Kai Le,Controls Engineer,Engineering,Male,47.0,02/05/22,"$92,368",United States,Columbus,NaN
1,E02003,Robert Patel,Analyst,Sales,Male,58.0,10/23/2013,"$45,703",United States,Chicago,NaN
2,E02004,Cameron Lo,Network Administrator,IT,Male,34.0,3/24/2019,"$83,576",China,Shanghai,NaN
3,E02005,Harper Castillo,IT Systems Architect,IT,Female,39.0,04/07/18,"$98,062",United States,Seattle,NaN
4,E02006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Austin,NaN
5,E02007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Phoenix,2/14/2014
6,E02008,Jade Hu,Sr. Analyst,Accounting,Female,58.0,6/27/2009,"$89,744",China,Chongqing,NaN
7,E02009,Miles Chang,Analyst II,Finance,Male,62.0,2/19/1999,"$69,674",China,Chengdu,NaN
8,E02010,Gianna Holmes,System Administratorâ€,IT,Female,38.0,09/09/11,"$97,630",United States,Seattle,NaN
9,E02011,Jameson Thomas,Manager,Finance,Male,52.0,02/05/15,"$105,879",United States,Miami,NaN

In [90]:
emp_df2.tail(5)

,ID,Full Name,Job Title,Department,Gender,Age,Hire Date,Salary,Country,City,Exit Date
18,E02020,Jordan Kumar,Service Desk Analyst,IT,Male,29.0,11/11/17,"$95,729",United States,Seattle,NaN
19,E02021,Sophia Gutierrez,Manager,Accounting,Female,63.0,02/08/09,"$102,649",United States,Austin,NaN
20,E02022,Eli Dang,Sr. Manager,Accounting,Male,45.0,11/16/2015,"$122,875",United States,Chicago,NaN
21,E02023,Lillian Lewis,Technical Architect,IT,Female,43.0,8/14/2013,"$83,323",United States,Phoenix,3/31/2019
22,E02024,Serenity Cao,Account Representative,Sales,Female,31.0,10/21/2018,"$66,721",China,Shanghai,NaN

# **Problems - Walmart excel dataset**

In [ ]:
import pandas as pd
import xlrd
import openpyxl

Q.1.Filter the DataFrame to show only transactions where the customer type is "Member".

In [ ]:
wal_df = pd.read_excel('/walmart_data.xlsx')
wal_df

,invoice_id,branch,city,customer_type,age,gender,product_line,unit_price,total,date,payment_method,rating
0,750-67-8428,D,San Jose,Member,40,Female,Health and beauty,74.69,548.9715,2019-01-05,Ewallet,9.1
1,226-31-3081,A,Philadelphia,Normal,29,Female,Electronic accessories,15.28,80.2200,2019-03-08,Cash,9.6
2,631-41-3108,A,Phoenix,Normal,28,Male,Home and lifestyle,46.33,340.5255,2019-03-03,Credit card,7.4
3,123-19-1176,B,NewÂ York,Member,27,Male,Health and beauty,58.22,489.0480,2019-01-27,Ewallet,8.4
4,373-73-7910,A,Chicago,Normal,52,Male,Sports and travel,86.31,634.3785,2019-02-08,Ewallet,5.3
5,699-14-3026,B,Philadelphia,Normal,54,Male,Electronic accessories,85.39,627.6165,2019-03-25,Ewallet,4.1
6,355-53-5943,C,Los Angeles,Member,34,Female,Electronic accessories,68.84,433.6920,2019-02-25,Ewallet,5.8
7,315-22-5665,D,Philadelphia,Normal,33,Female,Home and lifestyle,73.56,772.3800,2019-02-24,Ewallet,8.0
8,665-32-9167,A,NewÂ York,Member,66,Female,Health and beauty,36.26,76.1460,2019-01-10,Credit card,7.2
9,692-92-5582,A,Philadelphia,Member,56,Female,Food and beverages,54.84,172.7460,2019-02-20,Credit card,5.9
10,351-62-0822,D,Chicago,Member,60,Female,Fashion accessories,14.48,60.8160,2019-02-06,Ewallet,4.5
11,529-56-3974,A,Dallas,Member,46,Male,Electronic accessories,25.51,107.1420,2019-03-09,Cash,6.8
12,365-64-0515,C,NewÂ York,Normal,55,Female,Electronic accessories,46.95,246.4875,2019-02-12,Ewallet,7.1
13,252-56-2699,B,Chicago,Normal,35,Male,Food and beverages,43.19,453.4950,2019-02-07,Ewallet,8.2
14,829-34-3910,C,San Diego,Normal,24,Female,Health and beauty,71.38,749.4900,2019-03-29,Cash,5.7
15,299-46-1805,B,NewÂ York,Member,39,Female,Sports and travel,93.72,590.4360,2019-01-15,Cash,4.5
16,656-95-9349,B,Los Angeles,Member,46,Female,Health and beauty,68.93,506.6355,2019-03-11,Credit card,4.6
17,765-26-6951,C,Houston,Normal,33,Male,Sports and travel,72.61,457.4430,2019-01-01,Credit card,6.9
18,329-62-1586,C,Phoenix,Normal,54,Male,Food and beverages,54.67,172.2105,2019-01-21,Credit card,8.6

In [ ]:
wal_df.head()

,invoice_id,branch,city,customer_type,age,gender,product_line,unit_price,total,date,payment_method,rating
0,750-67-8428,D,San Jose,Member,40,Female,Health and beauty,74.69,548.9715,2019-01-05,Ewallet,9.1
1,226-31-3081,A,Philadelphia,Normal,29,Female,Electronic accessories,15.28,80.2200,2019-03-08,Cash,9.6
2,631-41-3108,A,Phoenix,Normal,28,Male,Home and lifestyle,46.33,340.5255,2019-03-03,Credit card,7.4
3,123-19-1176,B,NewÂ York,Member,27,Male,Health and beauty,58.22,489.0480,2019-01-27,Ewallet,8.4
4,373-73-7910,A,Chicago,Normal,52,Male,Sports and travel,86.31,634.3785,2019-02-08,Ewallet,5.3

In [ ]:
wal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      19 non-null     object
 1   branch          19 non-null     object
 2   city            19 non-null     object
 3   customer_type   19 non-null     object
 4   age             19 non-null     int64
 5   gender          19 non-null     object
 6   product_line    19 non-null     object
 7   unit_price      19 non-null     float64
 8   total           19 non-null     float64
 9   date            19 non-null     datetime64[ns]
 10  payment_method  19 non-null     object
 11  rating          19 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(7)
memory usage: 1.9+ KB

In [ ]:
wal_df[wal_df['customer_type']=='Member']

,invoice_id,branch,city,customer_type,age,gender,product_line,unit_price,total,date,payment_method,rating
0,750-67-8428,D,San Jose,Member,40,Female,Health and beauty,74.69,548.9715,2019-01-05,Ewallet,9.1
3,123-19-1176,B,NewÂ York,Member,27,Male,Health and beauty,58.22,489.0480,2019-01-27,Ewallet,8.4
6,355-53-5943,C,Los Angeles,Member,34,Female,Electronic accessories,68.84,433.6920,2019-02-25,Ewallet,5.8
8,665-32-9167,A,NewÂ York,Member,66,Female,Health and beauty,36.26,76.1460,2019-01-10,Credit card,7.2
9,692-92-5582,A,Philadelphia,Member,56,Female,Food and beverages,54.84,172.7460,2019-02-20,Credit card,5.9
10,351-62-0822,D,Chicago,Member,60,Female,Fashion accessories,14.48,60.8160,2019-02-06,Ewallet,4.5
11,529-56-3974,A,Dallas,Member,46,Male,Electronic accessories,25.51,107.1420,2019-03-09,Cash,6.8
15,299-46-1805,B,NewÂ York,Member,39,Female,Sports and travel,93.72,590.4360,2019-01-15,Cash,4.5
16,656-95-9349,B,Los Angeles,Member,46,Female,Health and beauty,68.93,506.6355,2019-03-11,Credit card,4.6

Q.2.Filter the DataFrame to show transactions where the total amount is greater than $500.

In [ ]:
#wal_df.head()
wal_df[wal_df['total']>500]

,invoice_id,branch,city,customer_type,age,gender,product_line,unit_price,total,date,payment_method,rating
0,750-67-8428,D,San Jose,Member,40,Female,Health and beauty,74.69,548.9715,2019-01-05,Ewallet,9.1
4,373-73-7910,A,Chicago,Normal,52,Male,Sports and travel,86.31,634.3785,2019-02-08,Ewallet,5.3
5,699-14-3026,B,Philadelphia,Normal,54,Male,Electronic accessories,85.39,627.6165,2019-03-25,Ewallet,4.1
7,315-22-5665,D,Philadelphia,Normal,33,Female,Home and lifestyle,73.56,772.3800,2019-02-24,Ewallet,8.0
14,829-34-3910,C,San Diego,Normal,24,Female,Health and beauty,71.38,749.4900,2019-03-29,Cash,5.7
15,299-46-1805,B,NewÂ York,Member,39,Female,Sports and travel,93.72,590.4360,2019-01-15,Cash,4.5
16,656-95-9349,B,Los Angeles,Member,46,Female,Health and beauty,68.93,506.6355,2019-03-11,Credit card,4.6

In [ ]:
wal_df[(wal_df['total']>500) & (wal_df['customer_type']=='Member')]

,invoice_id,branch,city,customer_type,age,gender,product_line,unit_price,total,date,payment_method,rating
0,750-67-8428,D,San Jose,Member,40,Female,Health and beauty,74.69,548.9715,2019-01-05,Ewallet,9.1
15,299-46-1805,B,NewÂ York,Member,39,Female,Sports and travel,93.72,590.4360,2019-01-15,Cash,4.5
16,656-95-9349,B,Los Angeles,Member,46,Female,Health and beauty,68.93,506.6355,2019-03-11,Credit card,4.6

Q.3.Sort the DataFrame by the "total" column in descending order to find the highest transactions.

In [ ]:
wal_df.sort_values(by='total',ascending=False).head()

,invoice_id,branch,city,customer_type,age,gender,product_line,unit_price,total,date,payment_method,rating
7,315-22-5665,D,Philadelphia,Normal,33,Female,Home and lifestyle,73.56,772.3800,2019-02-24,Ewallet,8.0
14,829-34-3910,C,San Diego,Normal,24,Female,Health and beauty,71.38,749.4900,2019-03-29,Cash,5.7
4,373-73-7910,A,Chicago,Normal,52,Male,Sports and travel,86.31,634.3785,2019-02-08,Ewallet,5.3
5,699-14-3026,B,Philadelphia,Normal,54,Male,Electronic accessories,85.39,627.6165,2019-03-25,Ewallet,4.1
15,299-46-1805,B,NewÂ York,Member,39,Female,Sports and travel,93.72,590.4360,2019-01-15,Cash,4.5

Q.4.Sort the DataFrame first by "branch" (ascending) and then by "unit_price" (descending).

In [ ]:
wal_df.sort_values(by=['branch','unit_price'],ascending=[True,False]).head()

,invoice_id,branch,city,customer_type,age,gender,product_line,unit_price,total,date,payment_method,rating
4,373-73-7910,A,Chicago,Normal,52,Male,Sports and travel,86.31,634.3785,2019-02-08,Ewallet,5.3
9,692-92-5582,A,Philadelphia,Member,56,Female,Food and beverages,54.84,172.7460,2019-02-20,Credit card,5.9
2,631-41-3108,A,Phoenix,Normal,28,Male,Home and lifestyle,46.33,340.5255,2019-03-03,Credit card,7.4
8,665-32-9167,A,NewÂ York,Member,66,Female,Health and beauty,36.26,76.1460,2019-01-10,Credit card,7.2
11,529-56-3974,A,Dallas,Member,46,Male,Electronic accessories,25.51,107.1420,2019-03-09,Cash,6.8

Q.5.Set the "invoice_id" column as the index of the DataFrame and display the first 5 rows.

In [ ]:
wal_df.iloc[0:5]

,invoice_id,branch,city,customer_type,age,gender,product_line,unit_price,total,date,payment_method,rating
0,750-67-8428,D,San Jose,Member,40,Female,Health and beauty,74.69,548.9715,2019-01-05,Ewallet,9.1
1,226-31-3081,A,Philadelphia,Normal,29,Female,Electronic accessories,15.28,80.2200,2019-03-08,Cash,9.6
2,631-41-3108,A,Phoenix,Normal,28,Male,Home and lifestyle,46.33,340.5255,2019-03-03,Credit card,7.4
3,123-19-1176,B,NewÂ York,Member,27,Male,Health and beauty,58.22,489.0480,2019-01-27,Ewallet,8.4
4,373-73-7910,A,Chicago,Normal,52,Male,Sports and travel,86.31,634.3785,2019-02-08,Ewallet,5.3

In [ ]:
wal_df.set_index('invoice_id').head()

,branch,city,customer_type,age,gender,product_line,unit_price,total,date,payment_method,rating
invoice_id,,,,,,,,,,,
750-67-8428,D,San Jose,Member,40,Female,Health and beauty,74.69,548.9715,2019-01-05,Ewallet,9.1
226-31-3081,A,Philadelphia,Normal,29,Female,Electronic accessories,15.28,80.2200,2019-03-08,Cash,9.6
631-41-3108,A,Phoenix,Normal,28,Male,Home and lifestyle,46.33,340.5255,2019-03-03,Credit card,7.4
123-19-1176,B,NewÂ York,Member,27,Male,Health and beauty,58.22,489.0480,2019-01-27,Ewallet,8.4
373-73-7910,A,Chicago,Normal,52,Male,Sports and travel,86.31,634.3785,2019-02-08,Ewallet,5.3

Q.6.Select the "city" and "product_line" columns for transactions where the payment method is "Ewallet".

In [ ]:
#wal_df.head()

wal_pay = wal_df[wal_df['payment_method']=='Ewallet'][['payment_method','city','product_line']]
wal_pay

   payment_method          city            product_line
0         Ewallet      San Jose       Health and beauty
3         Ewallet      NewÂ York       Health and beauty
4         Ewallet       Chicago       Sports and travel
5         Ewallet  Philadelphia  Electronic accessories
6         Ewallet   Los Angeles  Electronic accessories
7         Ewallet  Philadelphia      Home and lifestyle
10        Ewallet       Chicago     Fashion accessories
12        Ewallet      NewÂ York  Electronic accessories
13        Ewallet       Chicago      Food and beverages

Q.7. Export the DataFrame to a new CSV file named "invoice_data.csv".

In [ ]:
wal_pay.to_csv('invoice_data.csv')

In [76]:
#wal_df.head()
wal_df[['invoice_id','branch','city','total','date','payment_method']].to_csv('invoices_data.csv',sep=',', index=None)

Q.8.Export the DataFrame to an Excel file named "invoice_data.xlsx".

In [72]:
wal_pay.to_excel('invoice_data.xlsx')

In [81]:
#wal_df.head()
wal_df[['invoice_id','branch','city','total','date','payment_method']].to_excel('invoiced_data.xlsx', index=None, header=None)

Q.9.Use df.info to display information about the DataFrame, including the number of non-null entries in each column

In [73]:
wal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      19 non-null     object
 1   branch          19 non-null     object
 2   city            19 non-null     object
 3   customer_type   19 non-null     object
 4   age             19 non-null     int64
 5   gender          19 non-null     object
 6   product_line    19 non-null     object
 7   unit_price      19 non-null     float64
 8   total           19 non-null     float64
 9   date            19 non-null     datetime64[ns]
 10  payment_method  19 non-null     object
 11  rating          19 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(7)
memory usage: 1.9+ KB

Q.10.Use the head() function to display the first 10 rows of the DataFrame and tail() to display the last 5 rows.

In [78]:
wal_df.head(10)

,invoice_id,branch,city,customer_type,age,gender,product_line,unit_price,total,date,payment_method,rating
0,750-67-8428,D,San Jose,Member,40,Female,Health and beauty,74.69,548.9715,2019-01-05,Ewallet,9.1
1,226-31-3081,A,Philadelphia,Normal,29,Female,Electronic accessories,15.28,80.2200,2019-03-08,Cash,9.6
2,631-41-3108,A,Phoenix,Normal,28,Male,Home and lifestyle,46.33,340.5255,2019-03-03,Credit card,7.4
3,123-19-1176,B,NewÂ York,Member,27,Male,Health and beauty,58.22,489.0480,2019-01-27,Ewallet,8.4
4,373-73-7910,A,Chicago,Normal,52,Male,Sports and travel,86.31,634.3785,2019-02-08,Ewallet,5.3
5,699-14-3026,B,Philadelphia,Normal,54,Male,Electronic accessories,85.39,627.6165,2019-03-25,Ewallet,4.1
6,355-53-5943,C,Los Angeles,Member,34,Female,Electronic accessories,68.84,433.6920,2019-02-25,Ewallet,5.8
7,315-22-5665,D,Philadelphia,Normal,33,Female,Home and lifestyle,73.56,772.3800,2019-02-24,Ewallet,8.0
8,665-32-9167,A,NewÂ York,Member,66,Female,Health and beauty,36.26,76.1460,2019-01-10,Credit card,7.2
9,692-92-5582,A,Philadelphia,Member,56,Female,Food and beverages,54.84,172.7460,2019-02-20,Credit card,5.9

In [79]:
wal_df.tail(5)

,invoice_id,branch,city,customer_type,age,gender,product_line,unit_price,total,date,payment_method,rating
14,829-34-3910,C,San Diego,Normal,24,Female,Health and beauty,71.38,749.4900,2019-03-29,Cash,5.7
15,299-46-1805,B,NewÂ York,Member,39,Female,Sports and travel,93.72,590.4360,2019-01-15,Cash,4.5
16,656-95-9349,B,Los Angeles,Member,46,Female,Health and beauty,68.93,506.6355,2019-03-11,Credit card,4.6
17,765-26-6951,C,Houston,Normal,33,Male,Sports and travel,72.61,457.4430,2019-01-01,Credit card,6.9
18,329-62-1586,C,Phoenix,Normal,54,Male,Food and beverages,54.67,172.2105,2019-01-21,Credit card,8.6

In [85]:
# importing excel file without header
df_id = pd.read_excel('invoiced_data.xlsx',header=None,names=['id','branch','city','total','date','payment_method'])
df_id

             id branch          city     total       date payment_method
0   750-67-8428      D      San Jose  548.9715 2019-01-05        Ewallet
1   226-31-3081      A  Philadelphia   80.2200 2019-03-08           Cash
2   631-41-3108      A       Phoenix  340.5255 2019-03-03    Credit card
3   123-19-1176      B      NewÂ York  489.0480 2019-01-27        Ewallet
4   373-73-7910      A       Chicago  634.3785 2019-02-08        Ewallet
5   699-14-3026      B  Philadelphia  627.6165 2019-03-25        Ewallet
6   355-53-5943      C   Los Angeles  433.6920 2019-02-25        Ewallet
7   315-22-5665      D  Philadelphia  772.3800 2019-02-24        Ewallet
8   665-32-9167      A      NewÂ York   76.1460 2019-01-10    Credit card
9   692-92-5582      A  Philadelphia  172.7460 2019-02-20    Credit card
10  351-62-0822      D       Chicago   60.8160 2019-02-06        Ewallet
11  529-56-3974      A        Dallas  107.1420 2019-03-09           Cash
12  365-64-0515      C      NewÂ York  246.4875 2019-02-12        Ewallet
13  252-56-2699      B       Chicago  453.4950 2019-02-07        Ewallet
14  829-34-3910      C     San Diego  749.4900 2019-03-29           Cash
15  299-46-1805      B      NewÂ York  590.4360 2019-01-15           Cash
16  656-95-9349      B   Los Angeles  506.6355 2019-03-11    Credit card
17  765-26-6951      C       Houston  457.4430 2019-01-01    Credit card
18  329-62-1586      C       Phoenix  172.2105 2019-01-21    Credit card