<a href="https://colab.research.google.com/github/AnalystHarpal007/Python_Tutorial/blob/main/Python_for_loops_tutorials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python for Loop**

The for loop in Python is a control flow statement used to iterate over a sequence (like lists, tuples, dictionaries, sets, or strings) and execute a block of code multiple times.

**1. Basic Syntax**

In [2]:
#for variable in sequence:
    # Code block
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

variable: A temporary variable that holds each value in the sequence.

sequence: Any iterable object (list, tuple, string, dictionary, range, etc.).

The loop runs until all items in the sequence are exhausted.

# **Using range() in a for Loop**

The range() function generates a sequence of numbers.

Example 2: Looping with range() **bold text**

In [3]:
for i in range(5):  # Generates numbers 0 to 4
    print(i)

0
1
2
3
4

In [4]:
#Example 3: Specifying Start and Step
for i in range(2, 10, 2):  # Starts at 2, ends before 10, increments by 2
    print(i)

2
4
6
8

# **Iterating Over Strings**

A for loop can iterate over each character in a string.

In [5]:
#Example 4: Looping Over a String
word = "Python"
for letter in word:
    print(letter)

P
y
t
h
o
n

# **Iterating Over Dictionaries**

We can loop through dictionary keys, values, or both.

In [6]:
#Example 5: Looping Over Dictionary Keys
student = {"name": "John", "age": 20, "grade": "A"}
for key in student:
    print(key, ":", student[key])

name : John
age : 20
grade : A

In [7]:
#Example 6: Looping Over Dictionary Items

for key, value in student.items():
    print(f"{key}: {value}")

name: John
age: 20
grade: A

# **Nested for Loops**

A loop inside another loop.

In [8]:
for i in range(1, 4):
    for j in range(1, 3):
        print(f"i={i}, j={j}")

i=1, j=1
i=1, j=2
i=2, j=1
i=2, j=2
i=3, j=1
i=3, j=2

# **Using else with for Loops**

The else block executes after the loop completes normally (not if itâ€™s broken with break).

In [9]:
for num in range(3):
    print(num)
else:
    print("Loop finished!")

0
1
2
Loop finished!

# **break and continue Statements**

break exits the loop early.

continue skips the current iteration and moves to the next.

In [10]:
for num in range(5):
    if num == 3:
        break
    print(num)

0
1
2

In [11]:
# Example 10: Using continue
for num in range(5):
    if num == 3:
        continue
    print(num)

0
1
2
4

# **List Comprehension with for Loops**

List comprehension is a concise way to create lists.

In [12]:
# Example 11: Creating a List with Comprehension
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

# **Hands-On Practice Questions**

**Q1: Print numbers from 1 to 10 using a for loop.**

In [13]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

**Q2: Find the sum of all elements in a list.**

In [14]:
numbers = [10, 20, 30, 40]
total = 0
for num in numbers:
    total += num
print("Sum:", total)

Sum: 100

**Q3: Count occurrences of a character in a string.**

In [15]:
text = "data analysis"
char_to_find = "a"
count = 0
for char in text:
    if char == char_to_find:
        count += 1
print(f"'{char_to_find}' appears {count} times.")

'a' appears 4 times.

# **Real Interview Questions on for Loops (With Solutions)**

**Q1: Reverse a string using a for loop.**

In [16]:
word = "Python"
reversed_word = ""
for char in word:
    reversed_word = char + reversed_word
print(reversed_word)

nohtyP

**Q2: Print the Fibonacci series using a for loop.**

In [17]:
n = 10
a, b = 0, 1
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

**Q3: Print all prime numbers from 1 to 50.**

In [18]:
for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47