<a href="https://colab.research.google.com/github/AnalystHarpal007/Python_Tutorial/blob/main/Python_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Lists**

* A list in Python is like a container that holds multiple values in an ordered sequence. You can store numbers, words, or even other lists inside it! Lists are mutable, meaning you can change their values after creating them.

* Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

* Lists are created using square brackets

* List items are ordered, changeable, and allow duplicate values.

* List items are indexed, the first item has index [0], the second item has index [1] etc.

**1️⃣ Creating a List**

A list is created using square brackets [ ] and can hold different data types.

In [ ]:
movies = ['Spider Man', 122, 3.55, True, 'Joker', 'Lucy', 'Titanic', 'Inception']

print(movies)

['Spider Man', 122, 3.55, True, 'Joker', 'Lucy', 'Titanic', 'Inception']

In [ ]:
# Len()
#Print the number of items in the list:

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [ ]:
#Using the list() constructor to make a List

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

**2️⃣ Accessing List Elements**

You can access elements using their index (starting from 0)

In [ ]:
fruits = ["Apple", "Banana", "Cherry"]

print(fruits[0])  # Output: Apple
print(fruits[1])  # Output: Banana
print(fruits[-1]) # Output: Cherry (negative index starts from the end)

Apple
Banana
Cherry

In [ ]:
movies = ['Spider Man', 122, 3.55, True, 'Joker', 'Lucy', 'Titanic', 'Inception']

print(movies)

['Spider Man', 122, 3.55, True, 'Joker', 'Lucy', 'Titanic', 'Inception']

In [ ]:
movies[0:5]

['Spider Man', 122, 3.55, True, 'Joker']

In [ ]:
movies[3:]

[True, 'Joker', 'Lucy', 'Titanic', 'Inception']

**3️⃣ Modifying Lists (Mutable Property)**

You can change, add, or remove items from a list.

In [ ]:
fruits = ["Apple", "Banana", "Cherry"]

# Changing an item
fruits[1] = "Mango"
print(fruits)  # Output: ['Apple', 'Mango', 'Cherry']

# Adding an item
fruits.append("Orange")
print(fruits)  # Output: ['Apple', 'Mango', 'Cherry', 'Orange']

# Removing an item
fruits.remove("Mango")
print(fruits)  # Output: ['Apple', 'Cherry', 'Orange']

['Apple', 'Mango', 'Cherry']
['Apple', 'Mango', 'Cherry', 'Orange']
['Apple', 'Cherry', 'Orange']

In [ ]:
movies = ['Spider Man', 122, 3.55, True, 'Joker', 'Lucy', 'Titanic', 'Inception']

print(movies)

['Spider Man', 122, 3.55, True, 'Joker', 'Lucy', 'Titanic', 'Inception']

In [ ]:
movies.pop()
print(movies)

['Spider Man', 122, 3.55]

In [ ]:
movies = ['Spider Man', 122, 3.55, True, 'Joker', 'Lucy', 'Titanic', 'Inception']

print(movies)

['Spider Man', 122, 3.55, True, 'Joker', 'Lucy', 'Titanic', 'Inception']

In [ ]:
my_fav_no = [ 2, 5, 7, 1, 6 , 0]
my_fav_no.sort()
print(my_fav_no)

[0, 1, 2, 5, 6, 7]

In [ ]:
my_fav_no = [ 2, 5, 7, 1, 6 , 0]
my_fav_no.sort(reverse=True)
print(my_fav_no)

[7, 6, 5, 2, 1, 0]

**4️⃣ Useful List Methods**

Python provides several built-in methods to work with lists:

In [ ]:
numbers = [5, 3, 8, 1, 2]

numbers.sort()   # Sorts in ascending order
print(numbers)   # Output: [1, 2, 3, 5, 8]

numbers.reverse() # Reverses the list
print(numbers)   # Output: [8, 5, 3, 2, 1]

print(len(numbers))  # Output: 5 (number of elements)

numbers.insert(2, 100)  # Insert 100 at index 2
print(numbers)   # Output: [8, 5, 100, 3, 2, 1]

numbers.pop()    # Removes the last item
print(numbers)   # Output: [8, 5, 100, 3, 2]

[1, 2, 3, 5, 8]
[8, 5, 3, 2, 1]
5
[8, 5, 100, 3, 2, 1]
[8, 5, 100, 3, 2]

In [ ]:
#The del keyword also removes the specified index:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

**Extend List**

To append elements from another list to the current list, use the extend() method.

In [ ]:
city = ["bhopal", "indore", "chennai"]
fruits = ["mango", "pineapple", "papaya"]
city.extend(fruits)
print(city)

['bhopal', 'indore', 'chennai', 'mango', 'pineapple', 'papaya']

**Add Any Iterable**

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

**5️⃣ Looping Through Lists**

You can iterate through a list using loops.

In [ ]:
fruits = ["Apple", "Banana", "Cherry"]

for fruit in fruits:
    print(fruit)

Apple
Banana
Cherry

**Loop Through a List**

You can loop through the list items by using a for loop:

In [ ]:
thislist = ["apple", "banana", "cherry","Mango"]
for x in thislist:
  print(x)

apple
banana
cherry
Mango

In [ ]:
#You can also loop through the list items by referring to their index number.
#Use the range() and len() functions to create a suitable iterable.
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

**List Comprehension**

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [ ]:
fruits = ["apple", "banana", "guava", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'guava', 'mango']

In [ ]:

fruits = ["apple", "banana", "guava", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "apple" in x or "cherry" in x:
    newlist.append(x)

print(newlist)

['apple', 'cherry']

In [ ]:
#You can use the built-in List method copy() to copy a list
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

# **🚀 Project 1: To-Do List Manager**

**📌 Objective:**

Create a simple Python program that allows users to add, remove, and view tasks using lists.

* 🔹 Features:
* ✔️ Add a new task
* ✔️ Remove a completed task
* ✔️ View all tasks
* ✔️ Exit the program

In [ ]:
# To-Do List Manager
tasks = []  # Empty list to store tasks

while True:
    print("\n📌 To-Do List Manager")
    print("1. Add Task")
    print("2. Remove Task")
    print("3. View Tasks")
    print("4. Exit")

    choice = input("Enter your choice (1-4): ")

    if choice == "1":
        task = input("Enter a new task: ")
        tasks.append(task)
        print(f"✅ Task '{task}' added successfully!")

    elif choice == "2":
        task = input("Enter the task to remove: ")
        if task in tasks:
            tasks.remove(task)
            print(f"❌ Task '{task}' removed successfully!")
        else:
            print("⚠️ Task not found!")

    elif choice == "3":
        print("\n📝 Your Tasks:")
        if len(tasks) == 0:
            print("No tasks available!")
        else:
            for i, task in enumerate(tasks, start=1):
                print(f"{i}. {task}")

    elif choice == "4":
        print("👋 Exiting the To-Do List Manager. Have a great day!")
        break

    else:
        print("⚠️ Invalid choice! Please enter a number between 1 and 4.")

📌 To-Do List Manager
1. Add Task
2. Remove Task
3. View Tasks
4. Exit
Enter your choice (1-4): 1
Enter a new task: python
✅ Task 'python' added successfully!

📌 To-Do List Manager
1. Add Task
2. Remove Task
3. View Tasks
4. Exit
Enter your choice (1-4): 1
Enter a new task: excel
✅ Task 'excel' added successfully!

📌 To-Do List Manager
1. Add Task
2. Remove Task
3. View Tasks
4. Exit
Enter your choice (1-4): power bi
⚠️ Invalid choice! Please enter a number between 1 and 4.

📌 To-Do List Manager
1. Add Task
2. Remove Task
3. View Tasks
4. Exit
Enter your choice (1-4): 1
Enter a new task: power bi
✅ Task 'power bi' added successfully!

📌 To-Do List Manager
1. Add Task
2. Remove Task
3. View Tasks
4. Exit
Enter your choice (1-4): 3

📝 Your Tasks:
1. python
2. excel
3. power bi

📌 To-Do List Manager
1. Add Task
2. Remove Task
3. View Tasks
4. Exit
Enter your choice (1-4): 6
⚠️ Invalid choice! Please enter a number between 1 and 4.

📌 To-Do List Manager
1. Add Task
2. Remove Task
3. View Tasks
4. Exit
Enter your choice (1-4): 4
👋 Exiting the To-Do List Manager. Have a great day!