<a href="https://colab.research.google.com/github/AnalystHarpal007/Python_Tutorial/blob/main/Python_Sets_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Sets:**

Python sets are an essential data structure that helps efficiently handle unique, unordered collections of elements. Understanding sets is crucial for tasks like data cleaning, removing duplicates, and performing mathematical operations such as union and intersection.

A set is an unordered collection of unique elements. Unlike lists or tuples, sets do not allow duplicate values and do not maintain order.

**Key Characteristics of Sets**

Unordered: No specific order of elements.

Mutable: You can add or remove elements.

Unique Elements: No duplicates allowed.

Unindexed: Elements are accessed through iteration, not indexing.

# **Creating Sets in python**

**Using Curly Braces {}**

In [2]:
# Creating a set
fruits = {"apple", "banana", "cherry"}
print(fruits)

#💡 Note: The order of output may vary because sets are unordered.

{'apple', 'banana', 'cherry'}

**Using set() Constructor**

In [3]:
# Using set() function
numbers = set([1, 2, 3, 4, 5, 1, 2])  # Duplicates are removed
print(numbers)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

**Accessing Set Elements**

Since sets are unordered, elements cannot be accessed via indexing or slicing.

**Iterating Over a Set**

In [4]:
# Iterating over a set
colors = {"red", "blue", "green"}
for color in colors:
    print(color)

blue
green
red

# **Modifying Sets**

Adding Elements

In [5]:
# Adding a single element
numbers = {1, 2, 3}
numbers.add(4)
print(numbers)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

**Adding Multiple Elements**

In [6]:
# Adding multiple elements using update()
numbers.update([5, 6, 7])
print(numbers)  # Output: {1, 2, 3, 4, 5, 6, 7}

{1, 2, 3, 4, 5, 6, 7}

**Removing Elements**

In [7]:
# Removing an element (raises an error if element is not found)
numbers.remove(3)
print(numbers)

{1, 2, 4, 5, 6, 7}

**discard() Method**

In [8]:
# Discarding an element (does not raise an error if element is not found)
numbers.discard(10)  # No error even if 10 is not in the set

**pop() Method**

In [9]:
# Removing and returning a random element
removed_element = numbers.pop()
print(removed_element)

1

**clear() Method**

In [10]:
# Removing all elements
numbers.clear()
print(numbers)  # Output: set()

set()

# **Set Operations (Mathematical Set Operations)**

Python sets support mathematical operations like union, intersection, difference, and symmetric difference

**Union (| or .union())**

Returns a new set with all elements from both sets.

In [11]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2  # OR set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

**Intersection (& or .intersection())**

Returns a set with only common elements.

In [12]:
intersection_set = set1 & set2  # OR set1.intersection(set2)
print(intersection_set)  # Output: {3}

{3}

**Difference (- or .difference())**

Returns elements that are in set1 but not in set2.

In [13]:
difference_set = set1 - set2  # OR set1.difference(set2)
print(difference_set)  # Output: {1, 2}

{1, 2}

**Symmetric Difference (^ or .symmetric_difference())**

Returns elements that are in either set1 or set2, but not in both.

In [14]:
sym_diff_set = set1 ^ set2  # OR set1.symmetric_difference(set2)
print(sym_diff_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

# **Real Interview Questions with Solutions**

**❓ Q1: How would you remove duplicate values from a list?**

✅ Solution using Sets:

In [15]:
def remove_duplicates(lst):
    return list(set(lst))

nums = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(nums))  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

**❓ Q2: Given two lists, find the common elements efficiently.**

✅ Solution using Sets:

In [16]:
def common_elements(list1, list2):
    return list(set(list1) & set(list2))

print(common_elements([1, 2, 3, 4], [3, 4, 5, 6]))  # Output: [3, 4]

[3, 4]