<a href="https://colab.research.google.com/github/AnalystHarpal007/Python_Tutorial/blob/main/Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Welcome to my python self learning series by Analyst Harpal Singh Armo**

# **Let's Start Learning**

In [ ]:
print("Hello World")

Hello World

In [ ]:
#To check the Python version of the editor, you can find it by importing the sys module:
import sys

print(sys.version)

3.11.11 (main, Dec  4 2024, 08:55:07) [GCC 11.4.0]

# **Indentation in Python**

Indentation in Python refers to spaces or tabs used at the beginning of a line to define a block of code.



*   Proper indentation is mandatory in Python; otherwise, you will get an IndentationError.

*  It improves code readability.

In [ ]:
# Example 1: Correct Indentation in an if Statement
age = 18
if age >= 18:
    print("You are eligible to vote.")  # Indented inside the if-block
print("End of program.")  # This is outside the if-block

You are eligible to vote.
End of program.

In [ ]:
# Example 2: Incorrect Indentation (IndentationError)
age = 18
if age >= 18:
print("You are eligible to vote.")  # No indentation (ERROR!)

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-8-3183a2cfc7da>, line 4)

# **Commenting in Python**

A comment is a line in Python that is ignored by the interpreter. It is used to explain the code, improve readability, or temporarily disable code.

In [ ]:
# Single-Line Comments (#)
# This is a single-line comment
print("Hello, World!")  # This prints a message

Hello, World!

In [ ]:
# Multi-Line Comments (""" """ or ''' ''')

"""
This is a multi-line comment.
It spans multiple lines.
Python will ignore it.
"""
print("This is an example of multi-line comments.")

This is an example of multi-line comments.

In [ ]:
# Using Multi-Line Comments to Explain Code Blocks

# This program calculates the square of a number
number = 5  # Define a number
square = number ** 2  # Square the number
print("Square:", square)  # Print the result

Square: 25

In [ ]:
number = 7
squares = number**3
print("square:", squares)

square: 343

# **Python print() Statements – Single Quotes vs. Double Quotes**

Python allows both single and double quotes for strings in print() statements. They work the same way, and you can use either based on preference or convenience.

In [ ]:
# Using Single Quotes (' ')
print('Hello, World!')

Hello, World!

In [ ]:
# Using Double Quotes (" ")
print("Hello, World!")

#Works the same way as single quotes.

Hello, World!

**When to Use Single vs. Double Quotes?**

You can use either, but here’s when one is better than the other:

**A. When the Text Contains a Single Quote (Apostrophe ')**

If your text has an apostrophe, use double quotes to avoid errors.

In [ ]:
print("It's a beautiful day!")  # ✅ Correct
# print('It's a beautiful day!')  # ❌ Error! (Unmatched quotes)

It's a beautiful day!

The second statement gives a SyntaxError because Python thinks the string ends at "It' and doesn't recognize the rest.

In [ ]:
#print("It's a beautiful day!")  # ✅ Correct

print('It's a beautiful day!')  # ❌ Error! (Unmatched quotes)

SyntaxError: unterminated string literal (detected at line 3) (<ipython-input-19-0de135409675>, line 3)

**B. When the Text Contains Double Quotes (" ")**

If your text has double quotes, use single quotes.

In [ ]:
print('She said, "Python is amazing!"')  # ✅ Correct
# print("She said, "Python is amazing!"")  # ❌ Error!

She said, "Python is amazing!"

**Using Escape Characters ( \ ) to Handle Quotes Inside Strings**

If you want to use the same type of quote inside the string, you can escape it using \ .

In [ ]:
print('It\'s a beautiful day!')  # Escaping single quote
print("She said, \"Python is amazing!\"")  # Escaping double quote

It's a beautiful day!
She said, "Python is amazing!"

**Using Triple Quotes (""" """ or ''' ''')**

Triple quotes allow you to include both single and double quotes without escaping

In [ ]:
print("""It's a "beautiful" day!""")  # Triple double-quotes
print('''She said, "Python's awesome!"''')  # Triple single-quotes

It's a "beautiful" day!
She said, "Python's awesome!"

In [ ]:
# New Line
print("Shopping list: \nMilk \nEggs \nBread")

Shopping list:
Milk
Eggs
Bread

# **Variables in Python**

A variable in Python is like a container that stores data. It gives a name to a value so we can use it later.

In [ ]:
# In Python, you don't need to declare a variable type (like int or string). Just assign a value to a name.

x = 10  # x stores the value 10
name = "Harpal"  # name stores the text "Harpal"

print(x)
print(name)

#Python automatically understands the type of data (int, str, etc.)

10
Harpal

**Rules for Defining Variables:**

*   Must start with a letter or an underscore (_) (e.g., name, _value).

*  Cannot start with a number (e.g., 2value is not allowed).

*   Can contain letters, numbers, and underscores (e.g., value2, total_sum).

*   Case-sensitive (e.g., Age and age are different variables).

*   Cannot use Python reserved keywords (e.g., for, if, while).

In [ ]:
# Valid Variable Names
name = "John"
_age = 25
total_price = 99.99

In [ ]:
# Invalid Variable Names (Errors!)
2name = "John"  # ❌ Cannot start with a number
my-name = "Harpal"  # ❌ Cannot have a hyphen (-)
class = "Python"  # ❌ 'class' is a reserved keyword

SyntaxError: invalid decimal literal (<ipython-input-9-b02373f58f2f>, line 2)

**Multiple Variables in One Line**

Python allows multiple assignments in a single line.

In [ ]:
# Example 1: Assigning Multiple Values
a, b, c = 10, 20, 30
print(a, b, c)  # Output: 10 20 30

10 20 30

In [ ]:
#Example 2: Assigning the Same Value to Multiple Variables
x = y = z = 100
print(x, y, z)  # Output: 100 100 100

100 100 100

# **Data Types in Variables**

Python variables can store different types of data.

In [ ]:
num = 25  # Integer
price = 99.99  # Float
name = "Python"  # String
is_valid = True  # Boolean (True/False)
items = [1, 2, 3]  # List

In [ ]:
#You can check a variable’s type using type().
x = 10
print(type(x))  # Output: <class 'int'>

y = "Hello"
print(type(y))  # Output: <class 'str'>

<class 'int'>
<class 'str'>

**Deleting a Variable**

Use del to remove a variable.

In [ ]:
x = 100
#del x
print(x)  # ❌ Error! x is deleted

100

In [ ]:
del x

In [ ]:
print(x)

NameError: name 'x' is not defined

# **Summary Table**

**Concept	Example**

* Creating a variable	x = 5

* Reassigning a variable	x = "Hello"

* Assigning multiple values	a, b = 1, 2

* Same value for multiple variables	x = y = 100

* Checking data type	type(x)

* Deleting a variable	del x

# **input() in Python**

The input() function in Python is used to take user input from the keyboard. The input is always received as a string by default.

In [ ]:
# The input() function allows the user to type something, and the program stores it in a variable.
name = input("Enter your name: ")  # Takes input from the user
print("Hello, " + name + "!")  # Displays output

Enter your name: Harpal singh armo
Hello, Harpal singh armo!

**Converting Input to Other Data Types**

By default, input() returns a string. If you need a number, convert it using int() or float().

In [ ]:
#Example: Taking Integer Input
age = input("Enter your age: ")
age = int(age)  # Convert the input to an integer
print("You are", age, "years old.")

Enter your age: 27
You are 27 years old.

In [ ]:
age = input("Enter your age: ")
age = int(age)  # Convert the input to an integer
print("Next year you will be ", age+1, "years old.")

Enter your age: 29
Next year you will be  30 years old.

In [ ]:
#Example: Taking Float Input
price = float(input("Enter the price: "))
print("Price with tax:", price * 1.05)  # 5% tax added

Enter the price: 77
Price with tax: 80.85000000000001

**Taking Multiple Inputs**

You can take multiple inputs in a single line using .split().

In [ ]:
#Example: Taking Two Numbers at Once
a, b,c = input("Enter three numbers: ").split()
print("First number:", a)
print("Second number:", b)
print("Third number:", c)

Enter two numbers: 24 56 89
First number: 24
Second number: 56
Third number: 89

In [ ]:
a, b,c = input("Enter three Names: ").split()
print("First name:", a)
print("Second name:", b)
print("Third name:", c)

Enter three Names: Harpal Priyanka Ranju
First name: Harpal
Second name: Priyanka
Third name: Ranju

In [ ]:
a, b,c = input("Enter three city Names: ").split()
print("First name:", a)
print("Second name:", b)
print("Third name:", c)

Enter three city Names: Bhopal Indore Jabalpur
First name: Bhopal
Second name: Indore
Third name: Jabalpur

**Taking Multiple Inputs and Converting Them**

If you want to convert the inputs to numbers, use map().

In [ ]:
# Example: Converting to Integers

a, b, x, y, z = map(int, input("Enter five numbers: ").split())
print("Sum:", a + b + x + y + z)
print(type(a), type(b), type(x), type(y), type(z))  # Call type() for each variable separately

# map(int, input().split()) converts inputs to integers before assigning them to x and y.

Enter five numbers: 3 4 5 6 7
Sum: 25
<class 'int'> <class 'int'> <class 'int'> <class 'int'> <class 'int'>

**Changing the Separator in .split()**

By default, .split() separates input based on spaces. You can change it.

In [ ]:
#Example: Taking Comma-Separated Input

name, age, address = input("Enter your name,age and address (comma-separated): ").split(",")
print("Name:", name)
print("Age:", age)
print("address:", address)
#The split(",") separates input based on commas.

Enter your name,age and address (comma-separated): Harpal , 29 , london
Name: Harpal
Age:  29
address:  london

**Using strip() to Remove Extra Spaces**

If the user accidentally adds extra spaces, strip() removes them.

In [ ]:
name = input("Enter your name: ")#.strip() # without strip
print("Hello,", name)

Enter your name:     harpal
Hello,     harpal

In [ ]:
name = input("Enter your name: ").strip() # with strip
print("Hello,", name)

Enter your name:        Harpal
Hello, Harpal

**Taking Secure Input Using getpass (For Passwords)**

If you want to hide the user’s input (like a password), use getpass().

In [ ]:
password = input("Enter your password: ")
print("Password received!")  # Shows the password

Enter your password: Harpal@1799
Password received!

In [ ]:
import getpass
password = getpass.getpass("Enter your password: ")
print("Thank you your Password has received!")  # Doesn't show the password
#The password is not displayed when typed.

Enter your password: ··········
Thank you your Password has received!

**Key Takeaways**

✅ input() always returns a string, so convert it if needed.

✅ Use split() for multiple inputs and map() for conversion.

✅ Use strip() to remove extra spaces.

✅ Use getpass() for hidden password input.