<a href="https://colab.research.google.com/github/AnalystHarpal007/Python_Tutorial/blob/main/tuples_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Tuples Tutorials**

A tuple is an immutable, ordered collection of elements in Python. Once created, its elements cannot be modified, added, or removed. Tuples are commonly used to store heterogeneous data and are defined using parentheses ( ) or just commas.

**Key Features**

**Immutable**: Tuples cannot be changed after creation.

**Ordered**: Elements retain their order.

**Can store heterogeneous data:** Elements can be of different types (e.g., integers, strings, floats).

**Efficient**: Tuples are faster than lists for iteration and access.

**Syntax of Tuples**

A tuple is created using parentheses () and can contain different data types.

In [ ]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)  # Output: (1, 2, 3, 4, 5)

# Tuple with mixed data types
mixed_tuple = (10, "Hello", 3.14, True)
print(mixed_tuple)  # Output: (10, 'Hello', 3.14, True)

(1, 2, 3, 4, 5)
(10, 'Hello', 3.14, True)

In [ ]:
# Accessing elements using index
tuple1 = ("apple", "banana", "cherry")
print(tuple1[0])  # Output: apple
print(tuple1[-1])  # Output: cherry

apple
cherry

**Single Element Tuple**

For a single element, you must include a comma after the value.

In [ ]:
single_tuple = (5,)  # Note the comma
print(single_tuple)  # Output: (5,)

(5,)

**Tuple Without Parentheses (Packing)**

In [ ]:
packed_tuple = "red", "green", "blue"
print(packed_tuple)  # Output: ('red', 'green', 'blue')

('red', 'green', 'blue')

**Tuple from an Iterable**

In [ ]:
tuple_from_list = tuple([1, 2, 3])
print(tuple_from_list)  # Output: (1, 2, 3)

(1, 2, 3)

# **Tuple Indexing and Slicing**

**Indexing**

In [ ]:
colors = ("red", "blue", "green")
print(colors[1])  # Output: blue
print(colors[-1])  # Output: green

blue
green

**Slicing**

In [ ]:
nums = (0, 1, 2, 3, 4, 5)
print(nums[1:4])  # Output: (1, 2, 3)
print(nums[:3])   # Output: (0, 1, 2)
print(nums[::2])  # Output: (0, 2, 4)

(1, 2, 3)
(0, 1, 2)
(0, 2, 4)

# **Tuple Operations**

**a) Concatenation**

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
new_tuple = tuple1 + tuple2
print(new_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

**b) Repetition**

In [ ]:
repeat_tuple = ("Python",) * 3
print(repeat_tuple)  # Output: ('Python', 'Python', 'Python')

('Python', 'Python', 'Python')

**c) Membership Check**

# **Tuple Methods**

**a) count() â€“ Count Occurrences**

In [ ]:
num_tuple = (1, 2, 2, 3, 2, 4)
print(num_tuple.count(2))  # Output: 3

3

**b) index() â€“ Find First Occurrence**

In [ ]:
names = ("Alice", "Bob", "Charlie", "Bob")
print(names.index("Bob"))  # Output: 1

1

# **Tuple Unpacking**

Unpacking allows assigning tuple elements to multiple variables.

In [ ]:
person = ("John", 25, "Engineer")
name, age, profession = person
print(name)  # Output: John
print(age)   # Output: 25
print(profession)  # Output: Engineer

John
25
Engineer

Using * for Variable-Length Unpacking

In [ ]:
numbers = (1, 2, 3, 4, 5)
first, *middle, last = numbers
print(first)  # Output: 1
print(middle)  # Output: [2, 3, 4]
print(last)  # Output: 5

1
[2, 3, 4]
5

# **When to Use Tuples Over Lists?**

When data should not be modified (immutability).

Tuples use less memory and are faster than lists.

When working with dictionary keys, as tuples are hashable.

## **Hands-on Practice Questions**

Try these problems to solidify your understanding:

In [ ]:
#Q1: Reverse a Tuple
#Write a program to reverse a tuple without using loops.
tup = (10, 20, 30, 40, 50)
print(tup[::-1])  # Output: (50, 40, 30, 20, 10)

(50, 40, 30, 20, 10)

In [ ]:
#Q2: Convert a Tuple to a String

tup = ('P', 'y', 't', 'h', 'o', 'n')
print("".join(tup))  # Output: Python

Python

In [ ]:
# Q3: Find the Maximum and Minimum Element in a Tuple
nums = (15, 8, 20, 30, 10)
print(max(nums))  # Output: 30
print(min(nums))  # Output: 8

30
8

In [ ]:
#Q4: Remove Duplicates from a Tuple
tup = (1, 2, 3, 1, 2, 4, 5)
unique_tup = tuple(set(tup))
print(unique_tup)  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)